<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="section-title border-line wow fadeIn"><img src="{{ 'assets/images/logo.png'|theme }}" alt="Xtraie" class="img-fluid" /></h2>
        </div>
        <div class="col-md-12 social-links text-center">
            <ul class="list-unstyled list-inline wow fadeIn">
                <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="mailto:info@xtraice.com"><i class="ti-envelope"></i></a></li>
            </ul>
        </div>
    </div>
</div>